<mat-toolbar color="primary" class="h-auto p-4">
  <div class="cursor-pointer flex items-center" [matMenuTriggerFor]="menu">
    <!--TODO: selectedCharacter.<etc> -->
    <img class="rounded-full h-12 mr-2" src="assets/images/profile-image.jfif" />
    <span>{{ 'Test' }}</span>
  </div>
  <span class="flex-auto"></span>
  <a routerLink="/user">
    <img class="rounded-full h-12" src="{{ photoUrl }}" />
  </a>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Character name 1</button>
  <button mat-menu-item>Character name 2</button>
  <button mat-menu-item>Manage characters</button>
</mat-menu>
