<mat-toolbar color="primary" class="h-auto p-4">
  <div class="cursor-pointer flex items-center" [matMenuTriggerFor]="menu">
    <img
      class="rounded-full h-12 mr-2"
      src="assets/images/profile-image.jfif"
      alt="Character image"
    />
    <span>{{ name || email }}</span>
  </div>
  <span class="flex-auto"></span>
  <a routerLink="/user">
    <img class="rounded-full h-12" src="assets/images/profile-image.jfif" alt="Profile picture" />
  </a>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Character name 1</button>
  <button mat-menu-item>Character name 2</button>
</mat-menu>
