<p-toast></p-toast>
<p-confirmDialog
  header="Reset form"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
<div class="forms-container">
  <form (ngSubmit)="calculateFirst()" [formGroup]="firstForm">
    <div class="form-container">
      <div class="form-attacker">
        <img src="assets/images/1_attack.jpg" height="200px" />
        <div class="first-form">
          <h2>Attacker</h2>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="ra ra-perspective-dice-four"></i>
            </span>
            <input
              type="number"
              pInputText
              placeholder="Dice"
              formControlName="attackerDice"
              pTooltip="Dice"
            />
          </div>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-bullseye"></i>
            </span>
            <input
              type="number"
              pInputText
              placeholder="Accuracity"
              formControlName="accuracity"
              pTooltip="Accuracity"
            />
          </div>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="ra ra-clover"></i>
            </span>
            <input
              type="number"
              pInputText
              placeholder="Luck"
              formControlName="attackerLuck"
              pTooltip="Luck"
            />
          </div>
        </div>
      </div>
      <div class="button-container">
        <p-button
          type="submit"
          [disabled]="firstForm.invalid"
          label="Calculate"
        ></p-button>
        <p-button
          type="button"
          label="Reset"
          styleClass="ui-button-warning"
          [disabled]="firstForm.untouched || firstForm.pristine"
          (onClick)="reset()"
        ></p-button>
      </div>
      <div class="form-defender">
        <img src="assets/images/1_defend.jpg" height="200px" />
        <div class="first-form">
          <h2>Defender</h2>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="ra ra-perspective-dice-four"></i>
            </span>
            <input
              type="number"
              pInputText
              placeholder="Dice"
              formControlName="defenderDice"
              pTooltip="Dice"
            />
          </div>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="ra ra-player-dodge"></i>
            </span>
            <input
              type="number"
              pInputText
              placeholder="Velocity"
              formControlName="velocity"
              pTooltip="Velocity"
            />
          </div>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="ra ra-clover"></i>
            </span>
            <input
              type="number"
              pInputText
              placeholder="Luck"
              formControlName="defenderLuck"
              pTooltip="Luck"
            />
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="result-container" *ngIf="msgsFirst && msgsFirst.length > 0">
    <div *ngIf="isHit" class="result-photo">
      <img [src]="success1Url" height="225px" />
      <img *ngIf="isCritic" [src]="criticUrl" height="225px" />
    </div>
    <div class="result-text-container">
      <p-messages *ngFor="let msg of msgsFirst" [(value)]="msg"></p-messages>
    </div>
    <div *ngIf="!isHit" class="result-photo">
      <img [src]="defeat1Url" height="225px" />
    </div>
  </div>

  <form (ngSubmit)="calculateSecond()" [formGroup]="secondForm">
    <div class="form-container" *ngIf="isHit">
      <div class="form-attacker">
        <img src="assets/images/2_attack.jpg" height="225px" />
        <div class="second-form">
          <h2>Attacker</h2>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="ra ra-perspective-dice-four"></i>
            </span>
            <input
              type="number"
              pInputText
              placeholder="Dice"
              formControlName="attackerDice"
              pTooltip="Dice"
            />
          </div>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="ra ra-muscle-fat"></i>
            </span>
            <input
              type="number"
              pInputText
              placeholder="Damage"
              formControlName="damage"
              pTooltip="Damage"
            />
          </div>
        </div>
      </div>
      <div class="button-container">
        <h1>Second stage</h1>
        <p-button
          type="submit"
          [disabled]="secondForm.invalid"
          label="Calculate"
        ></p-button>
      </div>
      <div class="form-defender">
        <img src="assets/images/2_defend.jpg" height="225px" />
        <div class="second-form">
          <h2>Defender</h2>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="ra ra-perspective-dice-four"></i>
            </span>
            <input
              type="number"
              pInputText
              placeholder="Dice"
              formControlName="defenderDice"
              pTooltip="Dice"
            />
          </div>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-shield"></i>
            </span>
            <input
              type="number"
              pInputText
              placeholder="Defense"
              formControlName="defense"
              pTooltip="Defense"
            />
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="result-container" *ngIf="msgsSecond && msgsSecond.length > 0">
    <div *ngIf="!isBlocked" class="result-photo">
      <img [src]="success2Url" height="225px" />
    </div>
    <div class="result-text-container">
      <p-messages *ngFor="let msg of msgsSecond" [(value)]="msg"></p-messages>
    </div>
    <div *ngIf="isBlocked" class="result-photo">
      <img [src]="defeat2Url" height="225px" />
    </div>
  </div>
</div>
