<mat-dialog-content>
  <form
    class="flex w-full flex-col items-start justify-center"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex w-full items-center">
      <mat-form-field class="flex-grow pr-8" appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput type="text" [formControl]="nameControl" required />
        <mat-error *ngIf="nameControl.invalid"> You must enter a name </mat-error>
      </mat-form-field>
      <mat-slide-toggle color="primary" [formControl]="activeControl"> Active </mat-slide-toggle>
    </div>
    <mat-form-field class="w-full" appearance="standard">
      <mat-label>Description</mat-label>
      <textarea cdkTextareaAutosize matInput [formControl]="descriptionControl"></textarea>
    </mat-form-field>
    <div class="flex w-full items-center">
      <mat-slide-toggle
        color="primary"
        [formControl]="doesRollDiceControl"
        (change)="onDoesRollDiceChanges()"
      >
        Does it roll a dice?
      </mat-slide-toggle>
      <mat-form-field
        *ngIf="doesRollDiceControl.value"
        class="pl-8 flex-grow"
        appearance="standard"
      >
        <mat-label>Phase to roll a dice on</mat-label>
        <!-- FIXME: poner select -->
        <input matInput type="text" [formControl]="whenRollDiceControl" />
        <mat-hint>
          The dices will be rolled before the selected phase unless the name explicitly says
          otherwise.
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="flex w-full items-center">
      <mat-slide-toggle
        color="primary"
        [formControl]="turnBasedControl"
        (change)="onTurnBasedChanges()"
      >
        Is it turn based?
      </mat-slide-toggle>
      <mat-form-field *ngIf="turnBasedControl.value" class="pl-8 flex-grow" appearance="standard">
        <mat-label>Turns left</mat-label>
        <input matInput type="number" [formControl]="turnsLeftControl" min="0" />
        <mat-error *ngIf="turnsLeftControl.invalid"> Turns left must be more than 0 </mat-error>
        <mat-hint> Turns for the skill to be active before turned off. </mat-hint>
      </mat-form-field>
    </div>
    <div class="flex items-center w-full">
      <mat-form-field class="w-1/2 pr-2" appearance="standard">
        <mat-label>Level</mat-label>
        <input matInput type="number" [formControl]="levelControl" min="0" />
        <mat-error *ngIf="levelControl.invalid"> Level must be more than 0 </mat-error>
      </mat-form-field>
      <mat-form-field class="w-1/2 pl-2" appearance="standard">
        <mat-label>Caster name</mat-label>
        <input matInput type="text" [formControl]="caster_nameControl" />
        <mat-hint>
          In case you want to remember the name of the character who casted the spell so you can ask
          them more information if necessary.
        </mat-hint>
      </mat-form-field>
    </div>
    <!-- TODO: stats -->
  </form>
</mat-dialog-content>
<mat-dialog-actions class="w-full flex items-center justify-between">
  <button mat-stroked-button type="button" color="primary" [mat-dialog-close]="null">Cancel</button>
  <button
    *ngIf="!form.disabled"
    mat-flat-button
    type="button"
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    Save
  </button>
</mat-dialog-actions>
