<rc-topbar></rc-topbar>
<div class="app-container">
  <div class="damage-calculator-container">
    <rc-damage-calculator></rc-damage-calculator>
  </div>
  <hr />
  <div class="table-container"><rc-table></rc-table></div>
  <hr />
  <div class="references-container">
    <a href="https://www.freepik.com/free-photos-vectors/luis_molinero">
      Photos created by luis_molinero - www.freepik.com
    </a>
    |
    <div style="display: inline">
      Favicon made by
      <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from
      <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a>
      is licensed by
      <a
        href="http://creativecommons.org/licenses/by/3.0/"
        title="Creative Commons BY 3.0"
        target="_blank"
      >
        CC 3.0 BY
      </a>
    </div>
  </div>
</div>
