body {
  margin: 0;
}

/* TOPBAR */

body .ui-menubar {
  border: none;
  background-color: #525252;
  border-radius: 0;
  color: white;
}

body .ui-menubar a {
  color: white;
}
body .ui-menubar a:hover,
body .ui-menubar a:active,
body .ui-menubar a:link {
  color: white;
}

body .ui-menubar .fa {
  font-size: 35px;
  padding: 10px;
}

body .ui-messages {
  padding: 5px;
  margin: 0;
}

.app-container {
  padding: 50px;
}

/* TABLE */

.table-container {
  margin-top: 20px;
}

.table-container td > div {
  min-height: 15px;
}

/* DAMAGE CALCULATOR */

.damage-calculator-container {
  margin-top: 20px;
}

/* REFERENCES */

.references-container {
  font-size: 10px;
}

.forms-container,
.form-container,
.form-attacker,
.form-defender,
.button-container,
.result-container {
  display: flex;
  align-items: center;
}

.forms-container,
.button-container {
  flex-direction: column;
}

.form-attacker,
.form-defender {
  justify-content: flex-start;
}

.form-attacker > img,
.form-defender > img {
  margin-right: 10px;
}

.form-container {
  justify-content: space-around;
  width: 100%;
}

.result-container {
  justify-content: center;
  width: 100%;
}

.form-container {
  margin-bottom: 20px;
}

.result-text-container {
  width: 50%;
}

.result-photo {
  width: 15%;
}

.forms-container form {
  width: 100%;
}

.forms-container .ui-inputgroup .ui-inputgroup-addon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4c4c4c;
}

.forms-container p-messages {
  width: 100%;
}

.forms-container .ui-inputgroup,
.forms-container p-messages,
.button-container > p-button {
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .form-container {
    flex-direction: column;
  }

  .form-attacker > img,
  .form-defender > img {
    display: none;
  }
}
