<div *ngIf="loadersService.isAnyLoading()" class="absolute w-full z-20">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<main class="w-full bg-gray-100 min-h-screen flex flex-col">
  <app-menu *ngIf="loggedIn" class="flex-none z-10 h-20"></app-menu>
  <div
    class="w-screen ml-0 flex-grow sm:transition-margin sm:duration-400 sm:ease-out"
    [ngClass]="{ 'sm:ml-56': menuService.isActive }"
  >
    <router-outlet></router-outlet>
  </div>
  <app-footer class="flex-none"></app-footer>
</main>
