<mat-toolbar color="primary" class="z-10 h-auto p-4 fixed">
  <div class="cursor-pointer flex items-center" (click)="onMenuClick()">
    <mat-icon class="h-8 w-8 text-3xl"> menu </mat-icon>
  </div>
  <span class="flex-auto"></span>
  <a
    routerLink="/user"
    class="h-12 flex items-center justify-center"
    aria-label="Account settings"
    matTooltip="Account settings"
    matTooltipPosition="below"
  >
    <span class="mr-2" *ngIf="username">{{ username }}</span>
    <img
      *ngIf="photoUrl"
      class="
        rounded-full
        h-12
        transform
        transition
        duration-150
        ease-in-out
        hover:shadow hover:scale-125
        active:shadow active:scale-125
      "
      src="{{ photoUrl }}"
    />
    <mat-icon
      *ngIf="!photoUrl"
      class="
        h-12
        w-12
        text-5xl
        transform
        transition
        duration-150
        ease-in-out
        hover:shadow hover:scale-125
        active:shadow active:scale-125
      "
    >
      account_circle
    </mat-icon>
  </a>
</mat-toolbar>
